apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodejs-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nodejs-app
  template:
    metadata:
      labels:
        app: nodejs-app
    spec:
      containers:
        - name: nodejs-app
          image: asia-southeast1-docker.pkg.dev/nodejs-k8s-lab/first-repo-nodejs/first-nodejs-app:v2
          ports:
            - containerPort: 3000
