name: Deploy to GKE

on:
  push:
    branches: [ main ]
env:
  PROJECT_ID: ${{ secrets.PROJECT_ID }}
  REGION: asia-southeast1         # same region as your Artifact Registry
  REPO_NAME: ${{ secrets.REPO_NAME }}   # replace with your Artifact Registry name
  IMAGE_NAME: nodejs-app          # replace with your app name
  GKE_CLUSTER: my-node-cluster  # your GKE cluster name
  GKE_ZONE: asia-southeast1-a     # your GKE cluster zone
  DEPLOYMENT_NAME: nodejs-deployment
  CONTAINER_NAME: nodejs-container

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_CREDENTIALS }}

      - name: Configure Docker to use Artifact Registry
        run: gcloud auth configure-docker ${{ env.REGION }}-docker.pkg.dev

      - name: Build and Push Docker image
        run: |
          IMAGE="${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPO_NAME }}/${{env.IMAGE_NAME}}:${{ github.sha }}"
          docker build -t $IMAGE .
          docker push $IMAGE
          echo "IMAGE=$IMAGE" >> $GITHUB_ENV

      - name: Get GKE credentials
        uses: google-github-actions/get-gke-credentials@v2
        with:
          cluster_name: ${{ env.GKE_CLUSTER }}
          location: ${{ env.GKE_ZONE }}
          project_id: ${{ env.PROJECT_ID }}

      - name: Apply Kubernetes manifests
        run: |
          kubectl apply -f k8s/
          kubectl set image deployment/${{env.DEPLOYMENT_NAME}} ${{env.CONTAINER_NAME}}=$IMAGE

      - name: Verify Deployment
        run: |
          kubectl rollout status deployment/${{env.DEPLOYMENT_NAME}}
